$firstSector_color: blue;
$secondSector_color: green;
$thirdSector_color: yellow;
$fourthSector_color: red;

$primaryColor: green;
$darkShadeColor: black;
$gradientColor: gray;

$text_primary: transparentize($darkShadeColor, 0.25);

$softErrorText: rgb(250, 98, 255);